﻿@page
@using MicroBlog.Pages
@model MicroBlog.Pages.ArticleModel
@{
}

<h1>
    Článek
</h1>
<div>
    <form method="post">
        <input asp-for="Id" type="hidden"/>
        <p>
            <textarea asp-for="Body"></textarea>
        </p>
        <p> 
            <label visible="(Model.Id == null)" asp-for="Email">Email</label>
            <input visible="(Model.Id == null)" asp-for="Email"/>
            <button type="submit">Uložit</button>
            <button visible="(Model.Id != null)" type="submit" asp-page="Article" asp-page-handler="Delete" asp-route-id="ArticleForm.Id">Odstranit</button>
        </p>
        <p>
            <div asp-validation-summary="All" class="text-danger"></div>
        </p>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Body');
    </script>
}