﻿@page
@model MicroBlog.Pages.IndexModel
@{
}

<h1>Seznam článků na blogu</h1>

@foreach (var a in Model.Articles)
{
    <div>
        <p>@a.PublishedAt.Value</p>
        <p>@Html.Raw(a.Body)</p>
        <p>
            <a asp-page="Article" asp-route-id="@a.Id">Upravit</a>
        </p>
    </div>
    <hr/>
}